.App {
  text-align: center;
}

/*#region NavBar*/
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 10vh;

  box-shadow: 0px 3px 7px 0px gray;
}

.navBar img {
  width: auto;
  height: 90%;
}
/*#endregion */

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-in {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 10px 0px;
  width: 100%;
}

#pokeball_btn {
  width: 20px;
  height: 20px;

  margin-left: 10px;

  border: none;

  background-image: url("assets/images/pokeball.png");
  background-color: transparent;
  background-size: cover;
}

#pokeball_btn:hover {
  width: 22px;
  height: 22px;
  margin-left: 12px;
}

/*#region Main*/
.main {
  height: 100vh;
}
/*#endregion */

/*#region Footer*/
.footer {
  box-shadow: 3px 0px 7px 0px gray;
}

.socialMedias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMedias img {
  width: 30px;
  height: 30px;
}

#github,
#linkedin {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#github img,
#github a,
#linkedin img,
#linkedin a {
  margin: 5px;
}
/*#endregion */

/*#region PokeCard*/
.pokeCard {
  width: 15%;
  background-color: aqua;
}

.pokeCard img {
  width: 100%;
  height: auto;
  background-color: rgba(100, 100, 100, 0.8);
}
/*#endregion*/
